*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.maincontainer{
    height: 100vh;
    width: 100vw;
    background-color: #235377;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;

}

.container{
    height: 70%;
    width: 80%;
    display: flex;
    flex-flow: row nowrap;

}

.leftbox{
    height: 100%;
    width: 50%;
    padding: 1rem 3rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 2.5rem;
    background-color: #450844;
color: #fffaff;
transition: all 0.3s linear 0s;
}

.card-container{
    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;
  justify-content: center;
  margin-top: 1rem;
  }
  
  .card-container a{
    font-size: 0.8rem;
    padding: 0.2rem 0.9rem;
  text-decoration: none;
  background-color: rgb(239, 234, 225);
  border-radius: 1rem;
  color: rgb(86, 86, 86);
  transition: all 0.2s linear 0s;
  }

.leftbox h2{
    font-size: 2.7rem;
    text-transform: capitalize;

}

.leftbox>p{
    text-align: left;
    font-size: 1.1rem;
    text-transform: capitalize;
}

.boxes{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: start;
   
    
}

.leftbox h3{
    font-size: 2rem;
}
.rightbox{
    height: 100%;
    width: 50%;
}

.rightbox img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}

.leftbox:hover a{
    box-shadow: 0px 0px 5px 0px  rgb(168, 183, 2);
  }

.card-container a:hover{
    background-color: rgb(27, 149, 183);
    transform: scale(1.1);
    color: white;
}

@media screen and (max-width:1455px) {
    .container{
      width: 85%;
      height: 75%;
    }  
    }

    @media screen and (max-width:1130px) {
        .container{
          width: 90%;
          height: 85%;
        }  
        }

        @media screen and (max-width:934px) {



            
            .container{
              flex-direction: column;
            }  

            .leftbox{
                width: 90%;
                height: 50%;
                margin: auto;
                gap: 0.8rem;
            }

            .leftbox h2{
                font-size: 1.7rem;
                text-align: center;
            } 

            .leftbox p{
                font-size: 0.8rem;
                text-align: center;
            } 

            .boxes h3{
                font-size: 1.4rem;
            }

            .boxes p{
                font-size: 0.7rem;
            }

            .rightbox{
                width: 90%;
                height: 50%;
                margin: auto;
            }
            }

            @media screen and (max-width:500px) {
                .container{
                  width: 98%;
                  height: 95%;
                }  

                .card-container{
                    margin-top: 0.5rem;
                }

                .leftbox{
                    width: 95%;
                    margin: auto;
                    gap: 1rem;
                }
    
                .leftbox h2{
                    font-size: 1.6rem;
                    text-align: center;
                } 
    
                .leftbox p{
                    font-size: 0.7rem;
                    text-align: center;
                } 
    
                .boxes h3{
                    font-size: 1.3rem;
                }
    .rightbox{
        width: 95%;
    }

                }

                @media screen and (max-width:368px) {
                    .container{
                      width: 98%;
                      height: 95%;
                    }  
    
                    .card-container{
                        margin-top: 0.5rem;
                    }
    
                    .leftbox{
                        width: 95%;
                        margin: auto;
                        gap: 1rem;
                    }
        
                    .leftbox h2{
                        font-size: 1.3rem;
                        text-align: center;
                    } 
        
                    .leftbox p{
                        font-size: 0.6rem;
                        text-align: center;
                    } 
        
                    .boxes h3{
                        font-size: 1.2rem;
                    }
                }
